@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif !important;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  display: none;
}

/* Our Proud Partners -> React Elastic Carousel: */
.rec.rec-arrow:disabled {
  visibility: hidden;
}

.loader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 640px) {
  .container {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1536px) {
  .container {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .animation-container {
    height: 500px;
    width: 500px;
    background-color: black;
  }
}